/* App.css */

header {
  background-color: #ffcc80;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
}

nav {
  margin: 2rem 0;
}

.button-group {
  margin-bottom: 1rem;
}

button {
  background-color: #ffa726;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fb8c00;
}

.search-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

label {
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

main {
  margin-top: 2rem;
  padding: 1rem;
}

.stats {
  margin-bottom: 2rem;
  background: #6b6867;
  padding: 1rem;
  border-radius: 15px;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 600px;
  background: rgb(70, 70, 70);
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

li {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
}

li:last-child {
  border-bottom: none;
}

li::marker {
  content: "";
}

.List {
  margin-bottom: 10px;
}

.charts {
  margin-top: 3rem;
  background: #6b6867;
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.charts h2 {
  color: white;
  margin-bottom: 1rem;
}
