* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #4c4543;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
